nav{
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: normal;
    color: dodgerblue;
}
nav>.nav-link{
    padding: 15px;
}

.row{
    height: auto;
    min-height: 100vh;
}
h2{
    padding-bottom: 2rem;
}
aside{
    background-color: #C8EBC8;
}
aside a{
    color:#4D3126;
}
tr:hover{
    cursor: pointer;
}
main{
    background-color: #EBE1E8;
}

.small-title{
    margin: 0px;
    padding: .75rem .75rem .75rem 0rem;
    font-weight: bold;
}
.block{
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
}
.small-block{
    display: inline-block;
    padding-left: 0px;
    padding-right: 5vw;
}
.block-flex{
    display: flex;
    justify-content:space-between;
}
.inline-input{
    display: inline-block;
    width: 120px;
}


.app-btn{
    color: aliceblue;
    background-color:#8b7962;
    border: none;
    border-radius: 7px;
}
.app-btn:hover{
    color: #fff;
    font-weight: 550;
    background-color: #2996CC;
}

/* fontawesome */
.fas {
	color: #2996cc;
    cursor: pointer;
}
.page-link {
    color: #2996CC;
}
/* bootstrap */
.page-item.active .page-link {
    background-color: #2996CC;
    border-color: #2996CC;
}