.row{
    height: auto;
    min-height: 100vh;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}

/*nav bar*/
.menu{
    padding: 0px;
    background-color: #C8EBC8;
}
.menu a{
    color:#4D3126;
}
nav{
    text-align: center;
    color:#4D3126;
}
nav>.nav-link{
    width: 100%;
    padding: 20px 0px;
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: normal;
}
nav>.nav-link:hover{
    color: #FFF;
    background-color: #2996CC;
}

/*main area*/
h2{
    padding-bottom: 2rem;
}
tr:hover{
    cursor: pointer;
}
main{
    background-color: #EBE1E8;
}

.small-title{
    margin: 0px;
    padding: .75rem .75rem .75rem 0rem;
    font-weight: bold;
}
.block{
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
}
.small-block{
    display: inline-block;
    padding-left: 0px;
    padding-right: 5vw;
}
.block-flex{
    display: flex;
    justify-content:space-between;
}
.inline-input{
    display: inline-block;
    width: 280px;
}


/*buttons*/
.app-btn{
    padding: 5px 7px;
    color: aliceblue;
    background-color:#8b7962;
    border: none;
    border-radius: 7px;
}
.app-btn:hover{
    color: #fff;
    background-color: #2996CC;
}

/* fontawesome */
.fas {
	color: #2996cc;
    cursor: pointer;
}
.page-link {
    color: #2996CC;
}
/* bootstrap */
.page-item.active .page-link {
    background-color: #2996CC;
    border-color: #2996CC;
}